$color-dark-purple: #22162b;
$color-violet: #451f55;
$color-ultra-violet: #724e91;
$color-blush: #e54f6d;
$color-saffron: #f8c630;

.color-blush {
  color: $color-blush;
}

.text-center {
  text-align: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  background-color: $color-dark-purple;

  &:before {
    content: "scroll around!";
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 5vh;
    opacity: 0.1;
    pointer-events: none;
    z-index: 0;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 200vh;
  background-color: $color-dark-purple;
}

#root {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: auto;
}

.fixed-src-box {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: 0 20px;
  background-color: rgba($color-ultra-violet, 0.8);
}

a {
  color: $color-saffron;
}

ul {
  padding-left: 0;
  text-align: center;
  list-style: none;

  li {
    line-height: 1.2;
    margin: 15px 0;

    > span {
      display: block;
      margin-top: 5px;
    }

    span {
      font-size: 0.8rem;
    }
  }
}

button {
  background-color: $color-blush;
  padding: 10px 15px;
  margin-left: 30px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

svg.svg-animation {
  max-width: 100%;
  width: auto;
  height: auto;
}

.progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.elem-page-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-violet;
  padding: 15px 35px;
  border: 1px solid $color-ultra-violet;

  > .content {
    max-width: 70%;
  }
}

.elem-elem1-progress {
  position: relative;
  margin-top: 110vh;
  margin-bottom: 100vh;
  min-height: 50vh;
  background-color: $color-ultra-violet;
  padding: 15px 35px;
  border: 1px solid $color-blush;
}

.elem-elem2-progress {
  position: relative;
  margin-top: 100vh;
  margin-bottom: 400px;
  background-color: $color-violet;
  padding: 15px 35px;
  border: 1px solid $color-ultra-violet;
}

.elem-elem3-progress {
  position: relative;
  margin-top: 110vh;
  margin-bottom: 20vh;
  min-height: 50vh;
  background-color: $color-violet;
  padding: 15px 35px;
  border: 1px solid $color-ultra-violet;
}

.elem-elem4-progress {
  position: relative;
  margin-top: 110vh;
  height: 70vh;
  overflow: hidden;
  background-color: $color-violet;
  padding: 15px 35px;
  border: 1px solid $color-ultra-violet;
}

.elem-elem5-progress {
  position: relative;
  margin-top: 20vh;
  margin-bottom: 40vh;
  height: 110vh;
  overflow: hidden;
  background-color: $color-violet;
  padding: 15px 35px;
  border: 1px solid $color-ultra-violet;
}

.elem-side {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 300px;
  width: 100%;
  overflow: hidden;
  background-color: $color-violet;
  padding: 15px 35px;
  border: 1px solid $color-ultra-violet;
}

.elem-mulitple-trackers-1 {
  position: relative;
  margin-top: 70vh;
  margin-bottom: 100vh;
  min-height: 70vh;
  overflow: hidden;
  background-color: $color-violet;
  padding: 15px 35px;
  border: 1px solid $color-ultra-violet;
}

.elem-mulitple-trackers-2 {
  position: relative;
  margin-top: 10vh;
  min-height: 40vh;
  height: 100%;
  overflow: hidden;
  background-color: $color-ultra-violet;
  padding: 15px 35px;
  border: 1px solid $color-violet;
}

.elem-showcase-multiple-stages-two {
  position: relative;
  margin-top: 110vh;
  margin-bottom: 30vh;
  min-height: 80vh;
  overflow: hidden;
  background-color: $color-violet;
  padding: 15px 35px;
  border: 1px solid $color-ultra-violet;

  .shape {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    max-width: 500px;
    height: 300px;
    border-radius: 10px;
    background-color: $color-blush;
    transform-origin: 0 0;
  }
}

.elem-showcase-background-color {
  position: relative;
  margin-bottom: 200px;
  min-height: 50vh;
  overflow: hidden;
  background-color: $color-violet;
  padding: 15px 35px;
  border: 1px solid $color-ultra-violet;
}

.elem-showcase-multiple-stages {
  position: relative;
  margin-bottom: 30vh;
  min-height: 80vh;
  overflow: hidden;
  background-color: $color-violet;
  padding: 15px 35px;
  border: 1px solid $color-ultra-violet;
}

.elem-side h2 {
  white-space: nowrap;
}

.btn-toggle-overlay {
  margin-top: 200px;
}

.overlay-elem1-progress {
  position: relative;
  margin-top: 40vh;
  margin-bottom: 30vh;
  min-height: 80vh;
  background-color: $color-violet;
  padding: 15px 35px;
  border: 1px solid $color-ultra-violet;
}

.overlay {
  position: fixed;
  display: block;
  top: 20%;
  bottom: 10%;
  left: 10%;
  z-index: 1;
  background-color: $color-violet;
  padding: 15px 35px;
  border: 1px solid $color-ultra-violet;
  overflow-y: scroll;
}

.overlay-inactive {
  display: none;
}

.elem-page-progress {
  .cube-container {
    position: absolute;
    top: 0;
    right: 5%;
    width: 100px;
    height: 100px;
    perspective: 1000px;
    margin: 30px auto 0;

    .cube {
      transform-style: preserve-3d;
      width: 100%;
      height: 100%;
      position: relative;
    }
    .face {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: repeating-linear-gradient(0deg, rgba(70, 70, 70, 0.2) 0px, rgba(70, 70, 70, 0.2) 1px, transparent 1px, transparent 21px),
        repeating-linear-gradient(90deg, rgba(70, 70, 70, 0.2) 0px, rgba(70, 70, 70, 0.2) 1px, transparent 1px, transparent 21px),
        linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
    }

    .top {
      transform: rotateX(90deg) translateZ(50px);
    }
    .bottom {
      transform: rotateX(-90deg) translateZ(50px);
    }

    .right {
      transform: rotateY(90deg) translateZ(50px);
    }
    .left {
      transform: rotateY(-90deg) translateZ(50px);
    }

    .front {
      transform: rotateX(0deg) translateZ(50px);
    }
    .back {
      transform: rotateX(-180deg) translateZ(50px);
    }
  }
}

.react-scrollsy-3d {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  .cube-container {
    position: relative;
    width: 300px;
    height: 50px;
    perspective: 400px;
    margin-top: auto;
    margin-bottom: 20vh;

    .cube {
      transform-style: preserve-3d;
      width: 100%;
      height: 100%;
      position: relative;

      span {
        display: inline-block;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
        font-size: 30px;
      }
    }

    .face {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
    }

    .top {
      width: 300px;
      height: 50px;
      top: 25px;
      transform: rotateX(90deg) translateZ(50px);
      background-color: rgba($color-blush, 0.7);
    }
    .bottom {
      width: 300px;
      height: 50px;
      top: 25px;
      transform: rotateX(-90deg) translateZ(50px);
      background-color: rgba($color-blush, 0.7);
    }

    .right {
      width: 50px;
      height: 100px;
      left: 125px;
      transform: rotateY(90deg) translateZ(150px);
      background-color: rgba($color-saffron, 0.7);
    }
    .left {
      width: 50px;
      height: 100px;
      left: 125px;
      transform: rotateY(-90deg) translateZ(150px);
      background-color: rgba($color-saffron, 0.7);
    }

    .front {
      width: 300px;
      height: 100px;
      transform: rotateY(0deg) translateZ(25px);
      background-color: rgba($color-ultra-violet, 0.7);
      //transform: rotateX(0deg) translateZ(50px);
    }
    .back {
      width: 300px;
      height: 100px;
      transform: rotateY(180deg) translateZ(25px);
      background-color: rgba($color-ultra-violet, 0.7);
    }
  }
}
